@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";





@theme {
    --color-te-prim: #2563EB; /* Primary = Royal Blue - Use for main buttons, key headings, and calls to action */
    --color-te-sec: #DBEAFE; /* Secondary = Light Blue - Use for background sections or secondary buttons */
    --color-te-acc: #1E40AF; /* Accent = Deep Indigo Blue - Use for links, hover effects, and secondary headings */
    --color-te-back: #EFF6FF; /* Background = Soft Blue Tint - Use for overall background or section backgrounds */
    --color-te-text: #1E293B; /* Text = Graphite - Kept unchanged for readability */
}

@custom-variant hover (&:hover);


:root {
  font-family: "Manrope", sans-serif;
}
